<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projectdraft3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        tools:replace="android:allowBackup"
        android:allowBackup="false"
        android:icon="@mipmap/ic_icon_main_m"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Level_3" />
        <activity android:name=".Level_2" />
        <activity android:name=".Level_1" />
        <activity android:name=".Highscores" />
        <activity android:name=".LevelSelect" />
        <activity android:name=".Introduction2" />
        <activity
            android:name=".Menu"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:enabled="true" android:name=".MusicService" />
    </application>

</manifest>